.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding-left: 0px;
  padding-right: 0px;
  background: #ffffff40;
  backdrop-filter: blur(20px);
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: blur(20px);
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__wvXmR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.link___85NvS {
  position: relative;
  display: flex;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__loRq6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__loRq6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__loRq6 > :global(.__wab_flex-container) > *,
.freeBox__loRq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__loRq6 > :global(.__wab_flex-container) > picture > img,
.freeBox__loRq6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__loRq6 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__loRq6 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__loRq6 > :global(.__wab_flex-container) > *,
  .freeBox__loRq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__loRq6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__loRq6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__tv0AO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__nLjGo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xoUg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lvIl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__ftYfy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__xfMrD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jYoH9 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___4UxP0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__y1Coc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__tlCCc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__cEfr {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__sw0DB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__wBug2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___6Crw3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__u9Uja {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__gYYm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__dInIj {
  position: relative;
  color: #000000;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dInIj {
    display: flex;
  }
}
.svg__dMoHh {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__dMoHh {
    display: block;
  }
}
.link__agVnM {
  position: relative;
  color: #000000;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__agVnM {
    display: none;
  }
}
.svg__al8He {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
