.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__vB9 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: linear-gradient(#fff1e5bf, #fff1e5bf),
    url("https://images.squarespace-cdn.com/content/v1/5ca28b6c34c4e276b1e6efdc/1567338274582-V6V9R741A6IIIJREYX4K/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/image-asset.jpeg?format=2500w")
      left 50% top 50% / cover repeat;
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: -1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vB9 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
.freeBox__nm9P {
  background: #ffffff40;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 16px;
}
.freeBox__nm9P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nm9P > :global(.__wab_flex-container) > *,
.freeBox__nm9P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nm9P > :global(.__wab_flex-container) > picture > img,
.freeBox__nm9P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nm9P {
    padding: 32px;
  }
}
.freeBox__m8LLa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__m8LLa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__m8LLa > :global(.__wab_flex-container) > *,
.freeBox__m8LLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m8LLa > :global(.__wab_flex-container) > picture > img,
.freeBox__m8LLa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8LLa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8LLa > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8LLa > :global(.__wab_flex-container) > *,
  .freeBox__m8LLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m8LLa > :global(.__wab_flex-container) > picture > img,
  .freeBox__m8LLa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__jCa58 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__eIlN {
  object-fit: cover;
  width: 40px;
  flex-shrink: 0;
  display: none !important;
}
.img__eIlN > picture > img {
  object-fit: cover;
}
.img__eIlN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__x46Mh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__x46Mh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__x46Mh > :global(.__wab_flex-container) > *,
.freeBox__x46Mh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x46Mh > :global(.__wab_flex-container) > picture > img,
.freeBox__x46Mh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x46Mh > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x46Mh > :global(.__wab_flex-container) > *,
  .freeBox__x46Mh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x46Mh > :global(.__wab_flex-container) > picture > img,
  .freeBox__x46Mh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__hErsP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__jOt3W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__u9IM4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__k4Xh6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__vc9Ki:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__hnGvC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__v0MVp {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__cat65 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__fi9Zq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__k2Jh1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__py3X3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__i8HHl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___0RO6L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__wlRsu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wU8S0 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__j97D4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__vtYeU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.freeBox__zoEqj {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  height: auto;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  padding: 64px 32px;
}
.columns__a7Wpx {
  --plsmc-rc-col-gap: 0px;
}
.columns__a7Wpx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
}
.columns__a7Wpx > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__a7Wpx > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a7Wpx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a7Wpx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jxi8B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__vKCwj {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vKCwj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vKCwj > :global(.__wab_flex-container) > *,
.freeBox__vKCwj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vKCwj > :global(.__wab_flex-container) > picture > img,
.freeBox__vKCwj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__i1R4B {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__i1R4B > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__i1R4B > :global(.__wab_flex-container) > *,
.freeBox__i1R4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1R4B > :global(.__wab_flex-container) > picture > img,
.freeBox__i1R4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__yy5X {
  font-size: 60px;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: #090e24;
  padding-bottom: 24px;
}
.text__ozbDf {
  font-size: 20px;
  color: #626e99;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___76SmK {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___76SmK > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___76SmK > :global(.__wab_flex-container) > *,
.freeBox___76SmK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___76SmK > :global(.__wab_flex-container) > picture > img,
.freeBox___76SmK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button2__z2Xv0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__oSb3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__s92Eu {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qnYOn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__pkUaO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__yRaAm {
  display: block;
  width: 600px;
  height: 600px;
  background: url("/plasmic/iddr/images/heroCoinpng.png") top 50% left 50% / cover repeat;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yRaAm {
    width: 360px;
    height: 360px;
    flex-shrink: 0;
  }
}
.freeBox___1Seb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__yOjcJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__aqzXj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.columns__aqzXj > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__aqzXj > :global(.__wab_flex-container) > *,
.columns__aqzXj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aqzXj > :global(.__wab_flex-container) > picture > img,
.columns__aqzXj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__aqzXj {
  --plsmc-rc-col-gap: 0px;
}
.columns__aqzXj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aqzXj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aqzXj {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aqzXj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aqzXj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3Atbj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3Atbj {
    align-self: flex-end;
  }
}
.freeBox__fRwtX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 400px;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.img__zj4R3 {
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.img__zj4R3 > picture > img {
  object-fit: contain;
}
.img__zj4R3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.column__sBMrx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__sBMrx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__sBMrx > :global(.__wab_flex-container) > *,
.column__sBMrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__sBMrx > :global(.__wab_flex-container) > picture > img,
.column__sBMrx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2___8GbGd {
  position: relative;
  width: 100%;
  height: auto;
  color: #090e24;
  padding-bottom: 40px;
  font-weight: 500;
  min-width: 0;
}
.text__qEweM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 2;
  color: #626e99;
  min-width: 0;
}
.freeBox__aO8ZD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  background: #f2f2f7;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__u44ZL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 64px;
  min-width: 0;
}
.title > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.h2__lcmKs {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: center;
  color: #090e24;
  font-weight: 500;
  min-width: 0;
}
.h6__q6QAz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: center;
  color: #626e99;
  font-weight: 500;
  min-width: 0;
}
.columns__fle2K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  background: none;
  min-width: 0;
}
.columns__fle2K > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__fle2K > :global(.__wab_flex-container) > *,
.columns__fle2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fle2K > :global(.__wab_flex-container) > picture > img,
.columns__fle2K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__fle2K {
  --plsmc-rc-col-gap: 0px;
}
.columns__fle2K > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fle2K > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fle2K > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fle2K > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fle2K {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fle2K > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fle2K > :global(.__wab_flex-container) > *,
  .columns__fle2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fle2K > :global(.__wab_flex-container) > picture > img,
  .columns__fle2K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fle2K > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zemhk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__zemhk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__zemhk > :global(.__wab_flex-container) > *,
.column__zemhk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zemhk > :global(.__wab_flex-container) > picture > img,
.column__zemhk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__snFUf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 200px;
}
.img__snFUf > picture > img {
  object-fit: cover;
}
.img__snFUf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.desc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__m9BXi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__xR4Td {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #626e99;
  min-width: 0;
}
.column__fspdn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__fspdn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__fspdn > :global(.__wab_flex-container) > *,
.column__fspdn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__fspdn > :global(.__wab_flex-container) > picture > img,
.column__fspdn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__fb6Tc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 200px;
}
.img__fb6Tc > picture > img {
  object-fit: cover;
}
.img__fb6Tc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.desc2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__wgtoG {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__zkNPq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #626e99;
  min-width: 0;
}
.column__pqdDq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__pqdDq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__pqdDq > :global(.__wab_flex-container) > *,
.column__pqdDq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pqdDq > :global(.__wab_flex-container) > picture > img,
.column__pqdDq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__zm4Za {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 200px;
}
.img__zm4Za > picture > img {
  object-fit: cover;
}
.img__zm4Za > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.desc3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__e2PYc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__ru41U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #626e99;
  min-width: 0;
}
.column__r3B0Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__r3B0Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__r3B0Q > :global(.__wab_flex-container) > *,
.column__r3B0Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__r3B0Q > :global(.__wab_flex-container) > picture > img,
.column__r3B0Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__nYfBr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 200px;
}
.img__nYfBr > picture > img {
  object-fit: cover;
}
.img__nYfBr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.desc4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__rBQoC {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__yNzgW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #626e99;
  min-width: 0;
}
.freeBox__dAw1O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  background: #090e24;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__lcmS1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__vDqJ9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.columns__vDqJ9 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__vDqJ9 > :global(.__wab_flex-container) > *,
.columns__vDqJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vDqJ9 > :global(.__wab_flex-container) > picture > img,
.columns__vDqJ9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__vDqJ9 {
  --plsmc-rc-col-gap: 0px;
}
.columns__vDqJ9 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vDqJ9 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vDqJ9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vDqJ9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vDqJ9 > :global(.__wab_flex-container) > *,
  .columns__vDqJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vDqJ9 > :global(.__wab_flex-container) > picture > img,
  .columns__vDqJ9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vDqJ9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jtIQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.title2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__h17U4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  min-width: 0;
}
.h6__dLzMm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 64px;
  text-align: left;
  color: #ffffff;
  min-width: 0;
}
.text__exB6N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  padding-bottom: 0px;
  text-align: left;
  color: #a5acc7;
  min-width: 0;
}
.column__haRrA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml:global(.__wab_instance) {
    width: 360px;
  }
}
.freeBox__tk5Ht {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #090e24;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__niorR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.text__uwzXi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: #626e99;
  min-width: 0;
}
