.menuOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 24px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuOverlay {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    min-height: 0;
  }
}
.freeBox__fqk0J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__lel3I {
  position: relative;
  display: flex;
}
.svg___1NQaF {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__nVacy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
}
.freeBox__nVacy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nVacy > :global(.__wab_flex-container) > *,
.freeBox__nVacy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nVacy > :global(.__wab_flex-container) > picture > img,
.freeBox__nVacy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVacy {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVacy > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nVacy > :global(.__wab_flex-container) > *,
  .freeBox__nVacy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nVacy > :global(.__wab_flex-container) > picture > img,
  .freeBox__nVacy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link {
  position: relative;
  display: flex;
  padding-bottom: 24px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button2__pbUh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yFzKv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wAnEe {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__vTipp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__mE7M9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___94Up {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jPaOg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ajLl6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__oNnKc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__kpIjt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___0Z1D3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jq3Ae {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__r9Bec:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__fJiRe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__clk5W {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #090e24;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___36O6O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nYnIb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.link__cKfix {
  position: relative;
  display: flex;
}
.svg__zje8J {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
